<!-- <p-schedule [events]="events"></p-schedule> -->
<!--<div class="ui-g" style="background: #fff;text-align: center ; height: 100%;padding: 1.2em 2em;font-size: 1.2em;">-->
<!--<div class="ui-g-2"></div>-->
<!--<div class="ui-g-8 ">全国扶贫开发信息系统业务管理子系统主页</div>-->
<!--<div class="ui-g-2"></div>-->
<!--</div>-->
<div class="ui-g welcome-page-lb" [ngStyle]="{'height': _height}">
  <div class="ui-g-12">
    <div class="welcome-title"></div>
    <div class="welcome-bj">
    </div>
    <div class="welcomeTitles">
      <p class="welcome-login-note-new"></p>
      <div class="welcome-note welcome-login-notes">
        <p>东软集团股份有限公司 &nbsp;&nbsp;研制</p>
        <!--<p>Neusoft 1999-2017. All Rrights Reserve</p>-->
      </div>
    </div>
    <!--<div class="welcome-login-note">-->
    <!--<p>国务院扶贫办</p>-->
    <!--<p>东软研制</p>-->
    <!--</div>-->
    <!--<div class="welcome-nodes">-->
    <!--<h2>全国扶贫开发信息系统业务管理子系统</h2>-->
    <!--<p>欢迎您访问[全国扶贫开发信息系统业务管理子系统]<br/>-->
    <!--您可以在系统顶部的导航栏菜单切换不同的业务分类<br/>-->
    <!--然后在左侧的树形菜单中选择您想要进行的业务</p>-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--<p class="welcome-login-note-new">国务院扶贫办</p>-->
    <!--<p>东软研制</p>-->
  </div>
</div>

