<p-growl [value]="msgs" sticky="sticky"></p-growl>
<p-dialog appendTo="body" header="修改密码" *ngIf="showChangePwd == true" [(visible)]="showChangePwd" [closeOnEscape]="false" [closable]="isShowClose" [responsive]="false" showEffect="fade" [modal]="true"  width="400" height="200" >
  <form [formGroup]="changePwdForm">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="height: 100%">
      <div class="ui-grid-row">
        <div class="ui-grid-col-4"><label for="account">当前密码:</label></div>
        <div class="ui-grid-col-8" style="width: 180px">
          <input pInputText id="password" type="password" formControlName="password"  placeholder="请输入当前密码"/>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4"><label for="account">新密码:</label></div>
        <div class="ui-grid-col-8" style="width: 180px">
          <input pInputText id="newpassword" type="password" formControlName="newpassword"  placeholder="请输入新密码"/>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4"><label for="account">确认新密码:</label></div>
        <div class="ui-grid-col-8" style="width: 180px">
          <input pInputText id="confirmnewpassword" type="password" formControlName="confirmnewpassword"  placeholder="请再次输入新密码"/>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-8"></div>
        <div class="ui-grid-col-4">
          <button type="button" pButton icon="fa-save" (click)="changePwd()" label="修改密码" [disabled]="!changePwdForm.valid"></button>
        </div>
      </div>
    </div>
  </form>
</p-dialog>
